@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  /* background-color: ; */
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.4;
  /* transition: all ease-in-out 600ms; */
}

.container {
  @apply max-w-[1200px] mx-auto w-[90%];
}

.arc-border {
  border: 1.5px solid #ffffff0d;
  clip-path: polygon(
    11% 1%,
    100% 0,
    100% 30%,
    100% 89%,
    94% 100%,
    30% 100%,
    0 100%,
    0 9%
  );
}

.arc-border-2 {
  clip-path: polygon(
    90% 0,
    100% 10%,
    100% 35%,
    100% 91%,
    100% 100%,
    50% 100%,
    9% 100%,
    0 89%,
    0 9%,
    0 0
  );
}

.number {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.42) 0%,
    rgba(153, 153, 153, 0.21) 73.85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card:hover .number-active {
  background: linear-gradient(
    162.29deg,
    #ffffff 16.65%,
    rgba(153, 153, 153, 0) 117.47%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

input::placeholder {
  @apply text-[#ffffff];
}

.box {
  @apply border-[#FFFFFF24] border flex flex-col justify-center;
}

.flex-box {
  @apply flex flex-col lg:flex-row;
}

.primary-text {
  @apply text-[#ECF1F080];
}

.heading {
  @apply text-3xl lg:text-5xl lg:leading-[37.5px] font-bold mx-auto p-3 lg:py-6;
}
.heading-2 {
  letter-spacing: -0.02em;
  @apply font-medium text-3xl lg:text-[64px] lg:leading-[60px];
}
.heading-3 {
  @apply font-lexend font-light text-xl lg:text-[32px] lg:leading-[40px];
  letter-spacing: -0.02em;
}

.right-arrow {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.layout-pd {
  @apply py-[58px] lg:py-[98px];
}

.road-map {
  @apply bg-[url("/bg-mobile.svg")] lg:bg-[url("/road-map.png")] lg:bg-[length:122vw_520px] xl:bg-[length:125%_600px] bg-no-repeat lg:bg-[68%_center] xl:bg-[70%_center] bg-[center_0px] pb-[150px] lg:pb-[0] bg-[length:100%_95%];
}

.action-bg {
  background-image: url("/action-bg.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-size: 70%;
}

#tsparticles {
  height: 100%;
  width: 100%;
}

a.nav-active {
  @apply font-bold text-[white];
}
.top-pecs {
  box-shadow: 10px 16px 40px 0px #ffffff0d;
}

@media screen and (min-width: 1024px) {
  .number {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.42) 0%,
      rgba(153, 153, 153, 0) 73.85%
    );
  }

  .rectangle {
    clip-path: polygon(
      4% 0,
      100% 0,
      100% 30%,
      100% 87%,
      97% 100%,
      70% 100%,
      0 100%,
      0 15%
    );
  }
}
.btn {
  @apply h-[39px] px-[31px] bg-[#ffffff] text-[#000000];
}
a.btn {
  @apply flex items-center;
}

.pool-card {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    301.27deg,
    rgba(255, 255, 255, 0.25) 3.7%,
    rgba(153, 153, 153, 0.0725) 94.22%
  );
}

.arced {
  @apply relative overflow-hidden;
}

.arced::after,
.arced::before {
  @apply absolute h-[20px] w-[20px] z-[100] bg-inherit;
  content: "";
  background-color: inherit !important;
}

.arced::after {
  @apply bottom-[-10px] right-[-10px];
  transform: rotate(225deg);
}

.arced::before {
  @apply top-[-10px] left-[-10px];
  transform: rotate(225deg);
}

.arced.arced-border::after,
.arced.arced-border::before {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    301.27deg,
    rgba(255, 255, 255, 0.25) 3.7%,
    rgba(153, 153, 153, 0.0725) 94.22%
  );
}
.arced.arced-border-white::after,
.arced.arced-border-white::before {
  border: 1px solid;
  border-image-slice: 1;
  border-color: inherit;
}

.summary > ul {
  border: 1px solid;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    91.17deg,
    rgba(255, 255, 255, 0.25) 3.43%,
    rgba(153, 153, 153, 0.135) 51.65%,
    rgba(255, 255, 255, 0.25) 99.88%
  );
}

.stake-amount:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
  color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}