
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #050505;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
}

.container {
  @apply max-w-[1200px] mx-auto w-[90%];
}

.arc-border {
  border: 1.5px solid #FFFFFF0D;
  clip-path: polygon(11% 1%, 100% 0, 100% 30%, 100% 89%, 94% 100%, 30% 100%, 0 100%, 0 9%);
}

.ac-border-2 {
  clip-path: polygon(90% 0, 100% 10%, 100% 35%, 100% 91%, 100% 100%, 50% 100%, 9% 100%, 0 89%, 0 9%, 0 0);
}

.number {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 0%, rgba(153, 153, 153, 0.21) 73.85%);
   -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'DM Sans';
}
input::placeholder {
  @apply text-[#ffffff];
  
}

.box {
  @apply border-[#FFFFFF24] border flex flex-col justify-center;
}

.flex-box {
  @apply flex flex-col lg:flex-row;
}

.primary-text {
  @apply text-[#ECF1F080;]
}

.heading {
  @apply text-3xl lg:text-5xl lg:leading-[37.5px] font-bold mx-auto p-3 lg:py-6;
}

.right-arrow {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

@media screen and (min-width: 1024px) {
  .number {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 0%, rgba(153, 153, 153, 0) 73.85%);
  }

  .rectangle {
    clip-path: polygon(4% 0, 100% 0, 100% 30%, 100% 87%, 97% 100%, 70% 100%, 0 100%, 0 15%);
  }
}